.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 25px;
  padding: 15px;
  border-radius: 40px;
  background-color: #f4f4f4ff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  width: 45%;
  max-width: 700px;
}

@media (max-width: 1000px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 1300px) {
  .container {
    width: 90%;
  }
}

.container_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.info_title {
  font-size: 2.2rem;
  font-family: 'Montserrat';
  font-weight: 600px;
}

.info_description {
  font-size: 1.8rem;
  font-family: 'Montserrat';
  text-align: justify;
  margin: 10px;
}

.wrapper_info_link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container_info_link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 7px;
  transition: all 0.2s ease-in-out;
}

.container_info_link:hover {
  transform: scale(1.05);
}

.container_info_link:active {
  transform: scale(1);
}

.info_link {
  font-size: 1.5rem;
  font-family: 'Montserrat';
  font-weight: 500px;
  margin-left: 7px;
}

.container_image {
  flex: 1;
  justify-content: "center";
}

.image {
  display: flex;
  align-self: center;
  border-radius: 20px;
  height: auto;
  width: 100%;
}

.container_indicators {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 4px;
  margin-top: 16px;
}

.indicator {
  width: 12px;
  height: 12px;
  margin: 2px;
  border-radius: 50%; 
  background-color: #ccc;
  border: none;
  cursor: pointer; 
  transition: background-color 0.3s ease;
}

.indicator.active {
  background-color: #000;
}