.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 25px;
  padding: 15px;
  border-radius: 40px;
  background-color: #f4f4f4ff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  width: 40%;
  min-width: 390px;
}

.container_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.info_title {
  font-size: 25px;
  font-family: 'Montserrat';
  font-weight: 600px;
}

.info_description {
  font-size: 20px;
  font-family: 'Montserrat';
  text-align: justify;
  margin: 10px;
}

.wrapper_info_link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container_info_link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 7px;
  transition: all 0.2s ease-in-out;
}

.container_info_link:hover {
  transform: scale(1.05);
}

.container_info_link:active {
  transform: scale(1);
}

.info_link {
  font-size: 17px;
  font-family: 'Montserrat';
  font-weight: 500px;
  margin-left: 7px;
}

.container_image {
  flex: 1;
  justify-content: "center";
}

.image {
  display: flex;
  align-self: center;
  border-radius: 20px;
  height: auto;
  width: 100%;
}

.container_indicators {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 4px;
  margin-top: 16px;
}

.indicator {
  size: 120px;
  margin: 2px;
  background-color: #ccc;
}

.indicator.active {
  background-color: #000;
}