:root {
  --color_background_text: #ccd6e77d;
  --radius_border_text: 30px;
}

.screen {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #ffffff, #b3a9ff);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}

.container_project {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
  padding: 15px;
  border-radius: 40px;
  width: 70%;
  background-color: #fff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1000px) {
  .container_project {
    width: 90%;
  }
}

.container_image {
  flex: 1;
  justify-content: "center";
  align-self: center;
}

.image {
  display: flex;
  align-self: center;
  justify-self: center;
  border-radius: 20px;
  height: auto;
  width: 60%;
  border: 2px #000000 solid;
}

.container_info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.info_title {
  margin: 10px 20px 20px 10px;
  text-align: start;
  font-size: 2rem;
  font-family: 'Montserrat';
  font-weight: 500;
}

.info_description {
  font-size: 1.6rem;
  font-family: 'Montserrat';
  text-align: justify;
  padding: 0px 20px 20px 20px;
  margin: 10px;
  border-radius: var(--radius_border_text);
  background-color:  var(--color_background_text);
}

.wrapper_info_link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 10px;
  padding: 20px;
}

.container_info_link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 7px;
  transition: all 0.2s ease-in-out;
}

.container_info_link:hover {
  transform: scale(1.05);
  color: #6c78f4ff;
}

.container_info_link:active {
  transform: scale(1);
  color: #6c78f4ff;
}

.info_link {
  font-size: 1.5rem;
  font-family: 'Montserrat';
  font-weight: 500px;
  margin-left: 7px;
}

.container_indicators {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 4px;
  margin-top: 16px;
}

.indicator {
  width: 12px;
  height: 12px;
  margin: 2px;
  border-radius: 50%;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicator.active {
  background-color: #000;
}

.info_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22.5rem, 1fr));
  justify-items: start;
  margin: 10px;
  padding: 20px;
}

.wrapper_list_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.info_list_item {
  font-size: 1.8rem;
  font-family: 'Montserrat';
  margin: 0px 20px 0px 10px;
}

.info_list_item:hover {
  color: #6c78f4ff;
}

.icon {
  width: 18px;
  height: 18px;
}
