.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: #212121ff;
  padding-top: 25px 35px 25px 35px;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 20px;
  color: #ffffffff;
  font-weight: 400px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: 'Montserrat'
}

.icon {
  margin-left: 15px;
  margin-right: 15px;
}

.container_text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text {
  font-size: 20px;
  color: #fff;
  font-weight: 300;
  font-family: 'Montserrat'
}

.text_final {
  font-size: 20px;
  color: #fff;
  font-weight: 300;
  font-family: 'Montserrat';
  margin: 15px;
}

.contact {
  margin: 10px;
}