.container {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  z-index: 1000;
}

.container_buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo {
  width: 140px;
  height: 80px;
}

.nav_button {
  display: flex;
  padding: 20px;
  margin: 10px 20px 10px 20px;
  background-color: #6c78f4ff;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out;
  justify-content: center;
  align-items: center;
}

.nav_button:hover {
  transform: scale(1.08);
}

.nav_button:active {
  transform: scale(1.02);
}

.text_button {
  color: #fff;
  font-size: 17px;
  font-family: 'Montserrat';
  font-weight: 500;
  margin-left: 12px;
  margin-right: 12px;
}