.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 25px;
  padding: 15px;
  border-radius: 40px;
  background-color: #f4f4f4ff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  max-width: 600px;
}

.container_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.info_title {
  font-size: 2.1rem;
  font-family: 'Montserrat';
  font-weight: 600px;
}

.container_image {
  flex: 1;
  justify-content: "center";
}

.image {
  display: flex;
  align-self: center;
  border-radius: 25px;
  border: 4px #fff solid;
  height: auto;
  max-height: 300px;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.image:hover {
  transform: scale(1.02);
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #6787f1ff;
  margin: 10px;
  padding: 5px 10px 5px 10px; 
  border-radius: 20px;
  border: 2px #6787f1ff solid;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  transform: scale(1.1);
  background-color: #fff;
  color: #6787f1ff;
}

.link:active {
  transform: scale(0.95);
  background-color: #fff;
  color: #6787f1ff;
}

.link_text {
  font-size: 1.6rem;
  font-family: 'Montserrat';
  text-align: justify;
  margin: 0px 10px 0px 10px;
}

