.text {
  font-size: 3rem;
  font-family: Montserrat;
  text-align: center;
  font-weight: 600px;
  color: #000000ff;
  margin: 9px;
}

.line {
  width: 80%;
  height: 5px;
  background-color: #365eaeff;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-bottom: 60px;
}