.container {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  z-index: 1000;
}

.container_buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  width: auto;
  height: 100%;
  margin: 0px 10px 0px 10px;
}

.nav_button {
  display: flex;
  padding: 10px;
  margin: 10px 20px 10px 20px;
  background-color: #6c78f4ff;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out;
  justify-content: center;
  align-items: center;
  border-color: #6c78f4ff;
  border-width: 2px;
  color: #fff;
}

.nav_button:hover {
  transform: scale(1.08);
  background-color: #fff;
  color: #000;
}

.nav_button:active {
  transform: scale(1.02);
  background-color: #fff;
  color: #000;
}

.text_button {
  font-size: 17px;
  font-family: 'Montserrat';
  font-weight: 500;
  margin-left: 12px;
  margin-right: 12px;
}

.line {
  width: 45px;
  height: 6px;
  background-color: #000;
  border-radius: 10px;
  margin: 5px;
}

.button {
  margin: 10px 5px 10px 5px;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  transform: scale(1.1);
}

.button:active {
  transform: scale(0.95);
}

.container_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000ce;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 18px;
  height: 18px;
}