.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
}

.scroll_view {
  width: 100%;
}

.container_home {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(to bottom right, #ffffff, #b3a9ff);
}

@media (max-width: 1218px) {
  .container_home {
    flex-direction: column;
  }
}

.container_text {
  display: flex;
  flex-direction: column;
  margin: 0px 5px 0px 5px;
  align-items: center;
  justify-content: center;
}


.text_first_part {
  color: #f59061ff;
  font-size: 4.6rem;
  font-family: 'Montserrat';
  margin-bottom: -10px;
}

.text_second_part {
  color: #6787f1ff;
  font-size: 8rem;
  font-family: 'Montserrat';
  font-weight: 500;
  margin-bottom: -10px;
}

.text_third_part {
  width: 70%;
  max-width: 790px;
  text-align: justify;
  color: #000000;
  font-size: 1.8rem;
  font-family: 'Montserrat';
  margin: 0px 8px 0px 8px;
}

.image {
  width: auto;
  margin: 40px;
  height: calc(20vh + 15vw);
  border-radius: 30% 10% 30% 10%;
  box-shadow: 6px 10px 12px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

.image:hover {
  transform: scale(1.1);
}

.image:active {
  transform: scale(1.1);
}


.container_contact {
  display: flex;
  width: 70%;
  flex-direction: row;
}

.icon_contact {
  width: calc(30px + 2vw);
  height: calc(30px + 2vw);
  margin: 20px;
  transition: all 0.2s ease-in-out;
}

.icon_contact:hover {
  transform: scale(1.1);
}

.icon_contact:active {
  transform: scale(0.95);
}

.container_who_iam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.container_paragraph {
  width: 80%;
  margin-bottom: 10px;
}

.paragraph {
  text-align: justify;
  color: #000000;
  font-size: 1.6rem;
  font-family: 'Montserrat';
}

.container_my_skills {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #ffffff, #b3a9ff);
}

.container_skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60%;
  margin: 10px;
}

@media (max-width: 1218px) {
  .container_skills {
    width: 80%;
  }
}

.icon_tech {
  width: auto;
  height: calc(30px + 4vw);
  transition: all 0.2s ease-in-out;
  margin: 10px;
}

.icon_tech:hover {
  transform: scale(1.2);
}

.icon {
  width: 18px;
  height: 18px;
}

.wrapper_container_information {
  margin-bottom: 30px;
  padding-top: 80px;
  width: 100%;
  height: 100%;
}

.container_information {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.work_information {
  width: 25%;
  min-width: 300px;
}

@media (max-width: 600px) {
  .work_information {
    width: 90%;
  }
}

.course_information {
  width: 25%;
  min-width: 300px;

}

@media (max-width: 600px) {
  .course_information {
    width: 90%;
  }
}

.language_information {
  width: 25%;
  min-width: 300px;

}

@media (max-width: 600px) {
  .language_information {
    width: 90%;
  }
}

.college_information {
  width: 25%;
  min-width: 300px;

}

@media (max-width: 600px) {
  .college_information {
    width: 90%;
  }
}

.title_information {
  color: #000000;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: 'Montserrat';
  text-align: center;
}

.subcontainer_information {
  background-color: #CCD6E7;
  border-radius: 15px;
  margin: 10px;
  padding: 5px;
}

.paragraph_information {
  color: #000000;
  font-size: 1.6rem;
  font-family: 'Montserrat';
  margin: 10px;
  word-wrap: break-word;
  text-align: start;
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}