.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: #212121ff;
  padding: 15px 25px 15px 25px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 20px;
  color: #ffffffff;
  font-weight: 400px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: 'Montserrat'
}

.icon {
  margin-left: 15px;
  margin-right: 15px;
  height: 17px;
  width: 17px;
  color: #fff;
}

.container_text {
  margin: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 300;
  font-family: 'Montserrat'
}

.text_final {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 300;
  font-family: 'Montserrat';
  margin: 10px;
}


.contact {
  margin: 10px;
}