.screen {
  width: 100%;
  height: 100%;
}

.container_my_interdisciplinary_project {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container_carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.icon {
  width: 18px;
  height: 18px;
}